body{
    width: 98%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: #FFFFFF
    
}

*{
    border: 0px solid #666666;
}
.content-container{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 900px;
    height: 450px;
    padding: 0px;
    border: 2px solid black;
    background-color: black;
}

.controls{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
    gap: 5px;
    float: left;
}

button{
    
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    width: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.grid-rows{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px;
    
}

.row-divs{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border-radius: 50%; */
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}